CDN_DIST_ID=AAAA1111BBBB12
S3_WEB_BUCKET=s3://webbucket

REACT_CDN=https://localhost:3131
SHAPES_CDN=https://<DISTRIBUTION_SUB_DOMAIN_NAME>.cloudfront.net
MAPBOX_TOKEN=pk.eyAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA.BBBBBBBBBBBBBBBBB-CCCC

MAPBOX_STYLE_LIGHT=mapbox://styles/mapbox/light-v9
MAPBOX_STYLE_BASIC=mapbox://styles/mapbox/basic-v9
